# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Visual Studio Code
.vscode/
.history

# Project specific
output/
screenshots/
*.mp4
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.srt
*.log

# Whisper Models (cached models)
*.pt 